.encabezado {
  margin: 10px;
}

#boton {
  margin-bottom: 15px;
  width: 100%;
}

.scrollable {
  width: 90%px;
  height: 90%px;
  overflow-x: scroll;
}

.anchofijo {
  width: 65px;
}

/* all */
::-webkit-input-placeholder {
  font-size: 8px;
}

::-moz-placeholder {
  font-size: 8px;
}


/* firefox 19+ */
:-ms-input-placeholder {
  font-size: 8px;
}


/* ie */
input:-moz-placeholder {
  font-size: 8px;
}